.output{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
    padding-top: 1rem;
    padding: auto;
    height: 8rem;
    border: 2px solid;
}

.Balls{
    display: flex;
    justify-content: center;
}

.list{
    float: left;
    padding: 1rem;
}


.bonus{
    padding: 1rem;
    overflow: hidden;
}